{% extends 'blogweb/layout.html' %}
{% load static %}
{% block body %}

<div class="extrabg">
    <!--==============================header=================================-->
    {% include 'blogweb/inc/header.html' %}
    <!--==============================content=================================-->
    <div id="content">
        <!--==============================row_5=================================-->
        <div class="row_5">
            <div class="container">
                <h2>Products Overview</h2>
                <div class="row products">
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 productscol">  
                        <a href="#" class="box3">
                            <figure><img src={% static 'blogweb/img/page3_img1.jpg' %} alt=""></figure>
                            <div class="box4 maxheight3">
                                <h3>Product Name #1</h3>
                                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
                            </div>
                            <span></span>
                            <em></em>
                        </a>  
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 productscol">  
                        <a href="#" class="box3">
                            <figure><img src={% static 'blogweb/img/page3_img2.jpg' %} alt=""></figure>
                            <div class="box4 maxheight3">
                                <h3>Product Name #2</h3>
                                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
                            </div>
                            <span></span>
                            <em></em>
                        </a>  
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 productscol">  
                        <a href="#" class="box3">
                            <figure><img src={% static 'blogweb/img/page3_img3.jpg' %} alt=""></figure>
                            <div class="box4 maxheight3">
                                <h3>Product Name #3</h3>
                                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
                            </div>
                            <span></span>
                            <em></em>
                        </a>  
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 productscol">  
                        <a href="#" class="box3">
                            <figure><img src={% static 'blogweb/img/page3_img4.jpg' %} alt=""></figure>
                            <div class="box4 maxheight3">
                                <h3>Product Name #4</h3>
                                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
                            </div>
                            <span></span>
                            <em></em>
                        </a>  
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 productscol">  
                        <a href="#" class="box3">
                            <figure><img src={% static 'blogweb/img/page3_img5.jpg' %} alt=""></figure>
                            <div class="box4 maxheight3">
                                <h3>Product Name #5</h3>
                                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
                            </div>
                            <span></span>
                            <em></em>
                        </a>  
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 productscol">  
                        <a href="#" class="box3">
                            <figure><img src={% static 'blogweb/img/page3_img6.jpg' %} alt=""></figure>
                            <div class="box4 maxheight3">
                                <h3>Product Name #6</h3>
                                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
                            </div>
                            <span></span>
                            <em></em>
                        </a>  
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 productscol">  
                        <a href="#" class="box3">
                            <figure><img src={% static 'blogweb/img/page3_img7.jpg' %} alt=""></figure>
                            <div class="box4 maxheight3">
                                <h3>Product Name #7</h3>
                                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
                            </div>
                            <span></span>
                            <em></em>
                        </a>  
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 productscol">  
                        <a href="#" class="box3">
                            <figure><img src={% static 'blogweb/img/page3_img8.jpg' %} alt=""></figure>
                            <div class="box4 maxheight3">
                                <h3>Product Name #8</h3>
                                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
                            </div>
                            <span></span>
                            <em></em>
                        </a>  
                     </div>
                </div>
            </div>             
        </div>
    </div>
    <!--==============================footer=================================-->
    {% include 'blogweb/inc/footer.html' %}
    
</div>
{% endblock %}