<div class="col-md-6">
<div class="form-group">
        <label>Facebook URL</label>
		<input type="text" class="form-control" name="facebook_url" placeholder="Facebook URL" value="{{data.facebook_url}}"/>
</div>
</div>

<div class="col-md-6">
<div class="form-group">
        <label>Twitter URL</label>
		<input type="text" class="form-control" name="twitter_url" placeholder="Twitter URL" value="{{data.twitter_url}}"/>
</div>
</div>

<div class="col-md-6">
<div class="form-group">
        <label>Google+ URL</label>
		<input type="text" class="form-control" name="google_url" placeholder="Google+ URL" value="{{data.google_url}}"/>
</div>
</div>

